<!DOCTYPE html>
<html>
<%- include('head.ejs', {title: 'Página principal' }); %>

    <body>
        <div class="container">
            <%- include('navbar.ejs', { isAdmin: isAdmin }); %>

            <div class="table-responsive">
                <table class="table table-hover text-center mt-5">
                    <thead>
                        <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Número mecanográfico</th>
                        <th scope="col">Foto CC</th>
                        <th scope="col">Foto cartão</th>
                        <th scope="col">Tipo de passe</th>
                        <th scope="col">Comprovativo de morada</th>
                        <th scope="col">Ação</th>
                        <th scope="col" class="visually-hidden">Id</th>
                        </tr>
                        <tbody>
                            <% studentFormData.forEach(function (formData, index) { %>
                            <tr>
                            <td><%= formData.nomeMembroUMa %></td>
                            <td><%= formData.numberMembroUMa %></td>
                            <td><img src="<%= formData.CCMembroUMa %>" class="img-fluid" style="width: 300px; height: 300px;"></td>
                            <td><img src="<%= formData.cartaoMembroUMa %>" class="img-fluid" style="width: 300px; height: 300px;"></td>
                            <td><%= formData.tipoPasse %></td>
                            <% if (formData.tipoPasse  == 'interurbano') { %>
                                <td><img src="<%= formData.comprovativoMorada %>" class="img-fluid" style="width: 300px; height: 300px;"></td>
                            <% } else { %>
                                <td>Desnecessário</td>
                            <% } %>
                            <% if (formData.emitted  == false) { %>
                                <td>
                                    <form method="post" action="/emitPass/emitir/<%= index %>">
                                        <button type="submit" class="btn btn-primary btn-block">Emitir</button>
                                    </form>
                                    <form method="post" action="/emitPass/apagar/<%= index %>">
                                        <button type="submit" class="btn btn-danger mt-1 btn-block">Apagar</button>
                                    </form>
                                </td>
                            <% } else { %>
                                <td>Emitido 
                                    <form method="post" action="/emitPass/apagar/<%= index %>">
                                        <button type="submit" class="btn btn-danger mt-1 btn-block">Apagar</button>
                                    </form>
                                </td>
                            <% } %>
                            </tr>
                            <td class="visually-hidden"><%= index %></td>
                            <% }) %>
                        </tbody>
                    </thead>
                </table>   
            </div> 
        </div>
    </body>

</html>